:root {
    --Pink-Deep: #F28482;
    --Pink: #F5CAC3;
    --Pink-Light: #e4c9c5;
    --Dark: #3D405B;
    --Light: #6b6e8d;
    --Purple: #f3daff;
    --White: #FFF;
    --Green-Deep: #84A59D;
    --Green: #B6D7CF;
    --Yellow: #FFEF92;
    --White-Orange: #F7EDE2;
    --White-Off: #FFFFF2;
    --Grey-Light: #F5F5F5;
    --Blue: #A9D7DA;
    --Radius: 1.75rem;
    --Shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--White);
    font-family: 'Unbounded', sans-serif;
    color: var(--Pink);
}

.container {
    padding: 0;
    margin: 0;
}

.app {
        /* Padding */
        padding: 3.56rem 1.12rem;
    position: relative;
    /* Dimensions */
    max-width: 393px;

    /* Alignment (Center) */
    margin: 0 auto;

    /* Properties */
    display: flex;
    flex-direction: column;
    gap: 1.62rem;

    margin-bottom: 20rem;
    overflow-x: hidden;
}

.head {
    /* Dimensions */
    min-width: 100%;
    min-height: 5.5rem;

    /* Margins */
    padding: 0;
    margin: none;

    /* Padding */
    padding: .75rem;

    /* Style */
    background-color: var(--White-Off);
    box-shadow: var(--Shadow);
    border-radius: var(--Radius);

    /* Properties */
    display: flex;
    align-items: center;
    gap: 1rem;
}

.head__avatar {
    /* Dimensions */
    max-width: 4rem;
    max-height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}

.welcome-container {
    /* Properties */
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.search-container {
    /* Properties */
    display: flex;
    gap: .75rem;
    position: relative;
    padding: 0;
    margin: 0;
    min-width: 100%;
    width: 100%;
}

input[type=text] {

    /* Style */
    background-color: var(--Grey-Light);
    border: none;
    border-radius: 1rem;

    /* Typography */
    font-family: 'Unbounded', sans-serif;
    font-size: .875rem;
    font-weight: 300;
    width: 100%;
}

.search-input {
    padding: .84rem 3.8rem;
}

.btn-search {
    /* Properties */
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: background-color .25s ease-in-out;

    /* Style */
    background-color: transparent;
    border: none;
    border-radius: 1rem;
}

.btn-search:hover {
    background-color: var(--Blue);
}

.btn-filter {
    /* Properties */
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2.75rem;
    max-width: 2.75rem;
    flex-grow: 0;
    cursor: pointer;
    transition: background-color .25s ease-in-out;

    /* Style */
    border: none;
    background-color: var(--Pink-Deep);
    border-radius: 1rem;
}

.btn-filter:hover {
    background-color: var(--Pink-Light);
}

.btn-close {
    /* Properties */
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 2.75rem;
    max-width: 2.75rem;
    min-height: 2.75rem;
    flex-grow: 0;
    cursor: pointer;
    transition: background-color .25s ease-in-out;

    /* Style */
    border: none;
    background-color: var(--Pink);
    border-radius: 1rem;
}

.btn-close:hover {
    background-color: var(--Pink-Light);
}

.btn-deal {
    /* Style */
    border-radius: 2rem;
    border: none;
    height: .8rem;
    width: 2.6rem;
    background-color: var(--Pink-Deep);
    cursor: pointer;
    bottom: -3rem;
}

.btn-deal:focus {
    outline: 2px solid var(--Dark);
}

.daily-deals {
    /* Properties */
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.deal-carousel {
    overflow-x: auto;
    overflow-y: visible;
    display: flex;
    scroll-snap-type: x mandatory;
    min-height: 12rem;
    display: flex;
    align-items: center;
    margin-top: -2rem;
    gap: 2rem;
}

.deal-item {
    position: relative;
}

.deal-item {
    height: 8rem;
    width: 100%;
    background: var(--Pink-Deep);
    border-radius: 1.75rem;
    padding: 1.875rem 1.25rem;
    margin-right: 5px;
    flex-shrink: 0;
    scroll-snap-align: start;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: var(--Shadow);
    cursor: pointer;
    user-select: none;
}

.deal-item__food {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .4rem;
    z-index: 100;
}

.deal-carousel::-webkit-scrollbar {
    display: none;
}

.deal-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .6rem;
    margin-top: -2rem;
}

.nav {
    max-width: 393px;
    width: 393px;
    min-height: 5.75rem;
    background-color: var(--White-Orange);
    border-radius: 1.75rem;
    position: fixed;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    box-shadow: var(--Shadow);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .25rem;
    height: 3.125rem;
    cursor: pointer;
}

.nav__icon {
    width: 2rem;
    height: 2rem;
}

.categories {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(6.5rem, 1fr));
    gap: 1rem;
}

.category-item {
    background-color: var(--Yellow);
    height: 8.5rem;
    border-radius: 1.75rem;
    padding: 1.4rem 0.5rem 0rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-shadow: var(--Shadow);
    overflow: hidden;
    position: relative;
    align-items: center;
    color: var(--Dark);
    font-size: .75rem;
    cursor: pointer;
    transition: all .25s ease-in-out;
}

.category-item:hover {
    transform: translateY(-.4rem);
}

.category-item__image {
    position: absolute;
    right: 0;
    bottom: 0;
}

.offers {
    margin-top: 1rem;
}

.deals-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
}

.sale-item {
    background-color: var(--White);
    color: var(--Dark);
    min-width: 100%;
    min-height: 7.25rem;
    border-radius: 1.75rem;
    box-shadow: var(--Shadow);
    display: flex;
    flex-direction: row;
    padding: .88rem;
    cursor: pointer;
    gap: 1rem;
    align-items: center;
    transition: all .25s ease-in-out;
    position: relative;
    background-color: var(--Blue);
}

.sale-item:hover {
    transform: translateY(-.4rem);
}

.sale-item img {
    max-width: 6rem;
}

.deal__description {
    display: flex;
    flex-direction: column;
    gap: .2rem;
}

.modal-category {
    display: flex;
    position: fixed;
    background-color: var(--White);
    max-width: 393px;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-height: 100vh;
    z-index: 100;

    /* Properties */
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 0;
    margin: 0;
}

.modal-category__header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 4rem;
    background-color: var(--Pink-Deep);
    padding: 3.56rem 1.2rem;
    border-radius: 0 0 var(--Radius) var(--Radius);
    box-shadow: var(--Shadow);
    position: relative;
    height: 22.75rem;
    overflow: visible;
    max-height: 22.75rem;
    overflow: hidden;
}

.item {
    width: 100%;
    background-color: var(--Purple);
    display: flex;
    /* gap: 1.25rem; */
    border-radius: var(--Radius);
    box-shadow: var(--Shadow);
    min-height: 5.5rem;
    position: relative;
    padding: .75rem 1.5rem;
    gap: 1.25rem;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.item__image {
    display: flex;
    justify-content: flex-start;
    position: relative;
}

.item__image__image {
    max-width: 6rem;
}

.category-listing {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
}

.item__description {
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.category-listing-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: relative;
}

.modal-category__header__information {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hidden {
    display: none;
}

/* Typography */
.dark-text {
    color: var(--Dark);
}

.h2 {
    color: var(--Dark);
    font-size: 1.5rem;
}

.h2-deal {
    color: var(--Dark);
    font-size: 1.5rem;
    font-weight: 700;
}

.h2-title {
    color: var(--White);
    font-size: 1.5rem;
    font-weight: 400;
}

.h2-item {
    font-size: 0.8rem;
    color: var(--Pink-Deep);
}

.light {
    font-size: .75rem;
    color: var(--Light);
}

.price {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
    font-size: .75rem;
    color: var(--Pink-Deep);
}

.deal-sub-text {
    color: #F4F1DE;
}

.modal-category-icon {
    height: 16rem;
    width: 18rem;
    position: absolute;
    right: -2rem;
    bottom: -2rem;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
    display: none;
}
